{% extends '@AppBundle/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body text-center">
                <video style="display: none;" width="320" height="240" controls id="preview">
                  Your browser does not support the video tag.
                </video>
                <button class="btn btn-success btn-scan-activate">Scan QR Code</button><br /><br />
                <button onclick="alert('sekmes atveju sitas turetu generuoti koda ir parsiusti .jpg/.png i telefona');" class="btn btn-primary">Generate QR Code</button>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
