{% extends '@AppBundle/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body text-center">
                  <a href="#">Soemthing</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
