{% extends '@AppBundle/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card text-center no-border">
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                      Your payment was processed successfully
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
